@{
    ViewData["Title"] = "Acesso Negado";
}

<h2 class="text-danger">Acesso Negado</h2>
<p>Você não tem permissão para acessar esta página.</p>
<a asp-controller="Info" asp-action="Index" class="btn btn-primary">Voltar à Página Inicial</a>
