@model List<GestaoEventosAcademicos.Models.Evento>

@{
    ViewData["Title"] = "Meus Eventos";
}

<h2>Meus Eventos Inscritos</h2>

<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Data</th>
            <th>Local</th>
            <th>Ação</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var evento in Model)
        {
            <tr>
                <td>@evento.Nome</td>
                <td>@evento.Data.ToString("dd/MM/yyyy")</td>
                <td>@evento.Local</td>
                <td>
                    @if (!ViewBag.EventosComCertificado.Contains(evento.EventoID))
                    {
                        <a class="btn btn-danger" asp-action="ConfirmarCancelarInscricao" asp-route-eventoId="@evento.EventoID">
                            Cancelar Inscrição
                        </a>
                    }
                    else
                    {
                        <span class="text-success"><i class="bi bi-check-circle"></i> Evento concluido</span>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
