@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4 text-primary"><i class="bi bi-calendar-event"></i> Gestão Eventos Acadêmicos</h1>
    <p class="lead">Um sistema completo para gerenciamento de eventos acadêmicos.</p>

    <div class="card shadow-lg p-4 mt-4 mx-auto" style="max-width: 600px;">
        <h4 class="text-secondary"><i class="bi bi-info-circle"></i> Sobre o Sistema</h4>
        <p>
            O <strong>Gestão Eventos Acadêmicos</strong> é uma plataforma desenvolvida para facilitar a criação, administração e participação em eventos acadêmicos.
        </p>
        <p>
            Professores podem criar eventos, gerenciar inscrições e cadastrar novos professores, inscrevendo alunos nos eventos academicos para constrolar a geração de certificados de horas complementares desses alunos .
        </p>
        <p>
            O sistema conta com recursos como:
        </p>
        <ul class="list-group list-group-flush text-start">
            <li class="list-group-item"><i class="bi bi-check-circle"></i> Cadastro e gestão de eventos</li>
            <li class="list-group-item"><i class="bi bi-check-circle"></i> Inscrição de participantes</li>
            <li class="list-group-item"><i class="bi bi-check-circle"></i> Emissão de certificados</li>
        </ul>
        <br />
        <p>
            Projeto acadêmico do curso de Ciência da Computação da Universidade Prof. Edson Antônio Vellano<br>
            Desenvolvido por: <strong>Clinton Nogueira Silva</strong> e <strong>Luiz Felipe dos Reis Baldini</strong><br />
            Alunos do  5º período do curso.

        </p>
    </div>
 
    </div>
</div>
